// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Legend
.legend-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.legend {
    border: 1px solid #000;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.legend ul {
    list-style-type: none;
    padding: 0;
}

.legend li {
    margin: 10px 0;
}

// Card
.card {
    border: 1px solid #000;
}
